* {
    font-family: Oswald, sans-serif;
}

h1,
h2 {
    margin: 20px 0;

}

main {
    margin-top: 60px;
}



article p {
    text-align: justify;
}

a {
    color: #000;
    text-decoration: none;
}

article {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

footer a {
    color: #fff;
}

footer a:hover {

    color: #fff;
}